:root { 
  --fontsize-L:clamp(1.5rem,5vw,2rem);
  --fontsize-S: clamp(0.4rem,3.5vw,1.2rem);
  --fontsize-XS: clamp(0.7em,0.9vw,0.9em);
  --primary-color:#f76c6c;
  --background-primary:#f2f2f2
}

h1 {
  color: white;
  font-size: var(--fontsize-L);
}

nav {
  background-color: var(--primary-color);
  color: white;
  display:flex;
  justify-content:space-evenly;
  max-width: 100%;
  align-items: center;
  padding: 10px 0px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

nav h1 {
  color: white;
  padding: 10px;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--fontsize-S);
  
}

body {
  margin: 0;
  background-color: var(--background-primary);
  line-height: 1.5;
}

header {
  min-height: 250px;
  background-position: center;
  background-image: url("https://picsum.photos/id/684/600/400");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: auto;
  max-width: 65ch;
  margin-bottom: 50px;
}

article h1 {
  color: var(--primary-color);
  font-size: var(--fontsize-XS);
  padding: 5px;

}

article {
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  height: 80px;
  display: flex;
  align-items: center;
}

footer {
  background-color: var(--primary-color);
  color: black;
  padding: 10px;
  margin: 0;
}

.featured-posts{
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

.article1 {
  grid-column-start: span 2;
}

.article2 {
  display:grid;
  grid-template-columns:repeat(2, auto);
  
}



@media screen and (min-width:361px) { 
  ul {
    display: flex;
    flex-direction:initial;
  }
  li {
    padding: 10px;

  }

  section {
    margin: auto;

    max-width: 65ch;
    margin-bottom: 50px;
  }

  h1 {
    font-size: var(--fontsize-L);
    color: white;
  }
  nav {
    justify-content:space-between;
    padding: 0px;

  }

  article {
    height: auto;
  } 
  
  .article1 {
    grid-row-start: span 2;
    align-items: flex-start;
  }


  .featured-posts {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4,auto);
    gap: 15px;
}
  
}

@media screen {
  header h1{
    filter: drop-shadow(12px 12px 6px black);}
}